[submodule "games/MineClone2"]
	path = games/MineClone2
	url = https://git.minetest.land/MineClone2/MineClone2
[submodule "mods/mcl_welcome_hud"]
	path = mods/mcl_welcome_hud
	url = https://github.com/AFCMS/mcl_welcome_hud
[submodule "multiserver/plugins_src/mt-multiserver-chatcommands"]
	path = multiserver/plugins_src/mt-multiserver-chatcommands
	url = https://github.com/HimbeerserverDE/mt-multiserver-chatcommands.git
[submodule "multiserver/plugins_src/mt-multiserver-prometheus"]
	path = multiserver/plugins_src/mt-multiserver-prometheus
	url = https://github.com/Hyclone/mt-multiserver-prometheus
